<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .cart-item {
            border: 1px solid #000;
            margin: 10px;
            padding: 10px;
            position: relative;
        }

        .remove-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="text-center mt-5" style="color: #007bff;">购物车</h2>
        {{if .}}
        <form id="profileForm" class="mt-4" onsubmit="purchaseSelected(event)">
            <table class="table table-bordered">
                <tr>
                    <td><strong>选择</strong></td>
                    <td><strong>商品名称</strong></td>
                    <td><strong>商品描述</strong></td>
                    <td><strong>商品数量</strong></td>
                </tr>
                {{range .}}
                <tr>
                    <td><input type="checkbox" class="product-checkbox" value="{{.ProductName}}"></td>
                    <td><span class="product-name" style="color: #007bff; font-weight: bold;">{{.ProductName}}</span>
                    </td>
                    <td>{{.Description}}</td>
                    <td>
                        <button onclick="decreaseQuantity(this,event)">-</button>
                        {{.ProductQuantity}}
                        <button onclick="increaseQuantity(this,event)">+</button>
                    </td>
                    <td>
                        <button onclick="deleteProduct(this,event)"
                            style="background-color: red; color: white;">删除</button>
                    </td>
                </tr>
                {{end}}
            </table>
            <button type="submit" class="btn btn-primary">提交订单</button>
            <button id="logoutButton" class="btn btn-danger mt-4 logoutButton">登出</button>
        </form>
        {{else}}
        <div class="text-center mt-5">
            <h3>购物车为空</h3>
            <button onclick="redirectToShop(event)" class="btn btn-primary mt-3">返回商城</button>
        </div>
        {{end}}
    </div>
    <script>
        //显示通知消息
        function showNotification(message) {
            alert(message);
        }
        function purchaseSelected(event) {
            event.preventDefault();
            var selectedProducts = [];
            var checkboxes = document.getElementsByClassName('product-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedProducts.push(checkboxes[i].value);
                }
            }
            // 在这里执行购买函数，例如：
            // purchaseProducts(selectedProducts);
        }

        //获取userID和productName
        function getQueryString(btn) {
            //获取当前url中id
            var url = window.location.href;
            var userID = url.split("?")[1].split("=")[1];
            //检查是否存在'#'字符
            if (userID.includes('#')) {
                userID = userID.split('#')[0];
            }
            // 获取当前行
            var row = btn.parentNode.parentNode;
            // 获取商品名称
            var productName = row.getElementsByClassName('product-name')[0].textContent;
            // 将userID和productName打包成一个对象
            var result = {
                userID: userID,
                productName: productName
            };

            return result;
        }

        //返回商城
        function redirectToShop(event) {
            event.preventDefault(); // 阻止默认表单提交行为
            //获取当前url中id
            var url = window.location.href;
            var userID = url.split("?")[1].split("=")[1];
            window.location.href = "/mall/user/profile?id=" + userID;
        }

        //减少商品数量
        function decreaseQuantity(btn, event) {
            event.preventDefault(); // 阻止默认表单提交行为
            var { userID, productName } = getQueryString(btn);
            //发送请求到服务器，告诉服务器需要减少商品的数量
            var xhr = new XMLHttpRequest();
            // 创建一个对象并转换为JSON字符串
            var data = JSON.stringify({
                userID: userID,
                productName: productName,

            });
            // 设置POST请求的目标URL
            xhr.open('POST', '/mall/cart/subOne', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        //刷新页面
                        window.location.reload();

                    } else {
                        window.location.reload();
                    }
                }
            };
            // 发送请求
            xhr.send(data);
        }
        //增加商品数量
        function increaseQuantity(btn, event) {
            event.preventDefault(); // 阻止默认表单提交行为
            var { userID, productName } = getQueryString(btn);
            //发送请求到服务器，告诉服务器需要增加商品的数量
            var xhr = new XMLHttpRequest();
            // 创建一个对象并转换为JSON字符串
            var data = JSON.stringify({
                userID: userID,
                productName: productName,

            });
            // 设置POST请求的目标URL
            xhr.open('POST', '/mall/cart/addOne', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        //刷新页面
                        window.location.reload();

                    } else {
                        window.location.reload();
                    }
                }
            };
            // 发送请求
            xhr.send(data);

        }

        //删除商品
        function deleteProduct(btn, event) {
            event.preventDefault(); // 阻止默认表单提交行为
            var { userID, productName } = getQueryString(btn);
            console.log(userID, productName);
            //发送请求到服务器，告诉服务器需要删除商品
            var xhr = new XMLHttpRequest();
            // 创建一个对象并转换为JSON字符串
            var data = JSON.stringify({
                userID: userID,
                productName: productName,
            });
            // 设置POST请求的目标URL
            xhr.open('POST', '/mall/cart/delete', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        showNotification(xhr.responseText);
                        //刷新页面
                        window.location.reload();
                    } else if (xhr.status === 0) {
                        // 请求被取消
                        console.log('Request was aborted');
                    } else {
                        // 删除购物车失败，显示错误消息
                        showNotification("删除购物车失败: " + xhr.responseText);
                        window.location.reload();
                    }
                }
            };
            // 发送请求
            xhr.send(data);
        }
    </script>


</body>

</html>