{
  "openapi": "3.0.1",
  "info": {
    "title": "KOLIBRI Cloud API OpenAPI 3 Specification",
    "description": "KOLIBRI Cloud API",
    "termsOfService": "https://docs.kolibricloud.ch/Nutzungsbedingungen_TermsAndConditions_KOLIBRI_Cloud.pdf",
    "contact": {
      "name": "KELLER Pressure",
      "url": "https://keller-druck.com",
      "email": "kolibri@keller-druck.com"
    },
    "version": "1.23.206.x"
  },
  "servers": [
    {
      "url": "https://apitest.kolibricloud.ch",
      "description": "Test"
    },
    {
      "url": "https://api.kolibricloud.ch",
      "description": ""
    }
  ],
  "paths": {
    "/v1/AdministrationSettings": {
      "get": {
        "tags": [
          "AdministrationSettings"
        ],
        "summary": "Gets the list of all referenced accounts (FTP/Mail) or an empty list",
        "description": "Gets the list of all referenced accounts (FTP/Mail) or an empty list",
        "operationId": "AdministrationSettings_Get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AdministrationSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministrationSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministrationSettingsModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AdministrationSettings"
        ],
        "summary": "Updates the whole list of accounts. Normally, with ARCs this would be one FTP account.",
        "operationId": "AdministrationSettings_Update",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdministrationSettingsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdministrationSettingsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdministrationSettingsModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AdministrationSettings/MailAccount": {
      "delete": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_DeleteMailAccount",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AdministrationSettings/FtpAccount": {
      "delete": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_DeleteFtpAccount",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AdministrationSettings/TestConnection": {
      "post": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_GetTestConnectionResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FtpCredentials"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FtpCredentials"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FtpCredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AdministrationSettings/Me": {
      "get": {
        "tags": [
          "AdministrationSettings"
        ],
        "summary": "Returns the own UserName, the own Role and the CustomerAdmin of the same group and Dialogs that should be shown to the user",
        "operationId": "AdministrationSettings_GetMeUser",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MeUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeUser"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AdministrationSettings"
        ],
        "summary": "Confirms that the user has seen (and confirmed) the dialog",
        "operationId": "AdministrationSettings_UpdateMeUser",
        "parameters": [
          {
            "name": "hasConfirmedWelcomeDialog",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasConfirmedFeatureDialog",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AdministrationSettings/GroupUsers": {
      "get": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_GetGroupUsers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupUser"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupUser"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupUser"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_UpdateGroupUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GroupUser"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GroupUser"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GroupUser"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_AddNewUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AdministrationSettings/LoRaDevices": {
      "post": {
        "tags": [
          "AdministrationSettings"
        ],
        "summary": "Try to add an existing LoRa device by its EUI such as \"009D6B0000AAD392\".\r\nIf the device is not already assigned to another customer then it is assigned to the customers group.",
        "operationId": "AdministrationSettings_AddNewLoRaDevice",
        "parameters": [
          {
            "name": "eui",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AdministrationSettings/PermanentAccessToken": {
      "get": {
        "tags": [
          "AdministrationSettings"
        ],
        "operationId": "AdministrationSettings_GetPermanentAccessToken",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Alarms": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "operationId": "Alarms_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortAscending",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Alarms/{alarmId}": {
      "put": {
        "tags": [
          "Alarms"
        ],
        "operationId": "Alarms_Update",
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AlarmSettings/{deviceId}": {
      "get": {
        "tags": [
          "AlarmSettings"
        ],
        "operationId": "AlarmSettings_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmSettingsViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmSettingsViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmSettingsViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/AlarmSettings/{alarmSettingsId}": {
      "put": {
        "tags": [
          "AlarmSettings"
        ],
        "operationId": "AlarmSettings_Update",
        "parameters": [
          {
            "name": "alarmSettingsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AlarmSettings": {
      "post": {
        "tags": [
          "AlarmSettings"
        ],
        "operationId": "AlarmSettings_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmSettingsPutPostModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AlarmSettings/{alarmId}": {
      "delete": {
        "tags": [
          "AlarmSettings"
        ],
        "operationId": "AlarmSettings_Delete",
        "parameters": [
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/DeviceConfiguration/{deviceId}": {
      "get": {
        "tags": [
          "DeviceConfiguration"
        ],
        "operationId": "DeviceConfiguration_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfigurationsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfigurationsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfigurationsViewModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DeviceConfiguration"
        ],
        "operationId": "DeviceConfiguration_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfigurationModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfigurationModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceConfigurationModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets information of all devices.\r\nSee https://docs.kolibricloud.ch/cloud-interfaces/api/access_details/",
        "operationId": "Devices_Get",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "OPTIONAL. Skips the given number of devices. The opposite of Take.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "OPTIONAL. Takes only the first .. devices. The opposite of Skip. When not specified the API replies with the first 50 devices.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "OPTIONAL. Text term to filter all devices. Only the devices with searchText in the name or network",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "OPTIONAL. Default it is sort by the device’s \"Name\". It is also possible to sort for \"NetworkNode\", \"TransferType\", \"GsmNumber\", \"EuiNumber\", \"SerialNumber\"",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortAscending",
            "in": "query",
            "description": "OPTIONAL. If False then the list of the devices is ordered in descending order.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Returns json data about a specific accessible device.\r\nSee https://docs.kolibricloud.ch/cloud-interfaces/api/access_details/",
        "operationId": "Devices_GetDeviceDetails",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "REQUIRED. Every device has an 4 digit id number. The deviceId is the same number that can be seen in the URL of the WebApp when the device is selected: https://www.kolibricloud.ch/devices/1234/",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDetailsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDetailsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDetailsViewModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/BatteryInfos": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetBatteryInfos",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryValuesListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryValuesListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryValuesListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/SignalQualityInfos": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetSignalQualityInfos",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/HumidityInfos": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetHumidityInfosInfos",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuesListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/Location": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetLocationInfos",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LocationViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PostLocationCoordinates",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/SelectedChannels": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetSelectedChannels",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SelectedChannelsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectedChannelsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectedChannelsViewModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PutSelectedChannels",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectedChannelsPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectedChannelsPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectedChannelsPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/CustomizedChannels": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetCustomizedChannels",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomizedChannel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomizedChannel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomizedChannel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_CreateCustomizedChannel",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannelPostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannelPostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannelPostModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/CustomizedChannels/{id}": {
      "put": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_UpdateCustomizedChannel",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizedChannel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_DeleteCustomizedChannel",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/DeviceLogs": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_GetDeviceLogs",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceLogGetModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceLogGetModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceLogGetModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/HideData": {
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PostHideData",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/RestoreData": {
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PostRestoreData",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/Move": {
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PostMoveDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/Replace": {
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_PostReplaceDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "newDeviceId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/Delete": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Hides the device by null-ing of TenantId and changing SerialNumber",
        "operationId": "Devices_PostHideDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/RequestConfiguration": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Send down a 'void' configuration that triggers the sending of an actual configuration from the device.\r\nText-content: \"#E/e\"",
        "operationId": "Devices_PostRequestConfiguration",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/RequestMissingMeasurements": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Produces a text file with the request to send missing measurement data\r\nSee chapter 1.2.3.1 of the Cellular Protocol.\r\nExample: Requesting data from 21.3.2021 - 24.3.2021 : \"#e/a=669600000/b=669859200#E/e\"\r\nBe aware: The amount of data a device can send is limited. It will start with the oldest time and sends as much a needed or possible.",
        "operationId": "Devices_PostRequestMissingMeasurements",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "UTC datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "UTC datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Devices/{deviceId}/ChangeDeviceTime": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Produces a text file with the request to change the device time\r\nSee chapter 1.2.3.1 of the Cellular Protocol.\r\nExample: Changing the datetime of the device 2 days into the future is this: \"#e/t=+172800#E/e\"\r\nExample: Subtracts 10min from the Device time: \"#e/t=-600#E/e\"\r\nBe aware: When changing the device's time, the measurement gathering will be stopped and re-starts with the new time. In this process you might loose unsent data.\r\nBe aware: +/- 2 days is the max time span to be able to change. It is possible to send this request multiple times  ... with the according risk.",
        "operationId": "Devices_PostRequestChangeDeviceTime",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "timeDifferenceInSeconds",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Export": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Gets the export file with calculated measurements",
        "operationId": "Export_GetExport",
        "parameters": [
          {
            "name": "deviceIds",
            "in": "query",
            "description": "The devices filter for the export file.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The from date time filter for the export file. Must be UTC in format .",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date time filter for the export file. Must be UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "measurementDefinitionIds",
            "in": "query",
            "description": "The measurement definition ids to be filtered for the export file.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "exportFileType",
            "in": "query",
            "description": "The export file type. Use 0 for CSV, 1 for Excel, 2 for Zip, 4 for Hydras, 5 for AquaInfo, 6 for KOLIBRI JSON.",
            "schema": {
              "$ref": "#/components/schemas/Filetype"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Export/Report": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Gets the export file with calculated measurements",
        "operationId": "Export_GetReport",
        "parameters": [
          {
            "name": "deviceIds",
            "in": "query",
            "description": "The devices filter for the export file.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The from date time filter for the export file. Must be UTC in format .",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date time filter for the export file. Must be UTC.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "measurementDefinitionIds",
            "in": "query",
            "description": "The measurement definition ids to be filtered for the export file.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "exportFileType",
            "in": "query",
            "description": "The export file type. Use 3 for DOCX or 9 for PDF",
            "schema": {
              "$ref": "#/components/schemas/Filetype"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "Use 0 for FlowReport",
            "schema": {
              "$ref": "#/components/schemas/ReportType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Favorites": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "operationId": "Favorites_Get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteListViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Favorites"
        ],
        "operationId": "Favorites_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Favorites/{favoriteId}": {
      "put": {
        "tags": [
          "Favorites"
        ],
        "operationId": "Favorites_Put",
        "parameters": [
          {
            "name": "favoriteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FavoritePutPostModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Favorites"
        ],
        "operationId": "Favorites_Delete",
        "parameters": [
          {
            "name": "favoriteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/FlowCalculationSettings/{deviceId}": {
      "get": {
        "tags": [
          "FlowCalculationSettings"
        ],
        "operationId": "FlowCalculationSettings_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "FlowCalculationSettings"
        ],
        "summary": "Sends down 1..3 FlowCalculationSettings that needs to be updated",
        "operationId": "FlowCalculationSettings_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FlowCalculationSettingsGetPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Measurements": {
      "get": {
        "tags": [
          "Measurements"
        ],
        "operationId": "Measurements_Get",
        "parameters": [
          {
            "name": "measurementDefinitionId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "isFiltered",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ianaTimeZone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementValuesListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementValuesListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementValuesListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Measurements/LastMeasurement/{deviceId}": {
      "get": {
        "tags": [
          "Measurements"
        ],
        "operationId": "Measurements_GetLastData",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Measurements/LastMeasurement": {
      "get": {
        "tags": [
          "Measurements"
        ],
        "operationId": "Measurements_GetAllLastData",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeasurementsAndDeviceIdViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeasurementsAndDeviceIdViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeasurementsAndDeviceIdViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/MultiSensorCalculationSettings/WithHistory/{deviceId}": {
      "get": {
        "tags": [
          "MultiSensorCalculationSettings"
        ],
        "operationId": "MultiSensorCalculationSettings_GetWithHistoryFlat",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MultiSensorCalculationSettings"
        ],
        "summary": "Updates only one list of settings from one of the 5 sensors.\r\nThis list is normally filled with 1 setting. When it has more than the ones with filled From/TO are history-settings",
        "operationId": "MultiSensorCalculationSettings_UpdateWithHistory",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingViewModel"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/MultiSensorCalculationSettings/{deviceId}": {
      "get": {
        "tags": [
          "MultiSensorCalculationSettings"
        ],
        "operationId": "MultiSensorCalculationSettings_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MultiSensorCalculationSettings"
        ],
        "operationId": "MultiSensorCalculationSettings_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSensorCalculationSettingsViewModelOld"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/PageSettings": {
      "get": {
        "tags": [
          "PageSettings"
        ],
        "operationId": "PageSettings_Get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PageSettingsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageSettingsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageSettingsViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PageSettings"
        ],
        "operationId": "PageSettings_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/PageSettings/{pageSettingsId}": {
      "put": {
        "tags": [
          "PageSettings"
        ],
        "operationId": "PageSettings_Update",
        "parameters": [
          {
            "name": "pageSettingsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PageSettingsPostPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Gets the assigned roles of the actually authenticated user.",
        "operationId": "Roles_GetUserRoles",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserRolesViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRolesViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRolesViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/TankCalculationSettings/{deviceId}": {
      "get": {
        "tags": [
          "TankCalculationSettings"
        ],
        "operationId": "TankCalculationSettings_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TankCalculationSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankCalculationSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankCalculationSettingsModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "TankCalculationSettings"
        ],
        "operationId": "TankCalculationSettings_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TankCalculationSettingsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TankCalculationSettingsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TankCalculationSettingsModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Units": {
      "get": {
        "tags": [
          "Units"
        ],
        "operationId": "Units_Get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnitListViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitListViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitListViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/WaterCalculationSettings/{deviceId}": {
      "get": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_Get",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsViewModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_Update",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/WaterCalculationSettings/WithLevelLines/{deviceId}": {
      "get": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_GetWithLevelLines",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesViewModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_UpdateWithLevelLines",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/WaterCalculationSettings/WithHistory/{deviceId}": {
      "get": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_GetWithLevelLinesAndHistory",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryViewMode"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryViewMode"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryViewMode"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WaterCalculationSettings"
        ],
        "operationId": "WaterCalculationSettings_UpdateWithLevelLinesAndHistory",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryPutModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryPutModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WaterCalculationSettingsWithLevelLinesAndHistoryPutModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdministrationSettingsModel": {
        "type": "object",
        "properties": {
          "generalAlarmMailReceiversCommaSeparated": {
            "type": "string",
            "description": "List of mail addresses of recipients of alarm mails triggered by a troublesome system state",
            "nullable": true
          },
          "ftpMailAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FtpMailAccounts"
            },
            "description": "List of FTP or MAIL accounts that belong to the same Tenant.\r\nNormally, with ARCs, there should be one FTP account.\r\nLoRa devices or groups without dedicated account return a empty list",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Like AdministrationSettings but without ID and Tenant"
      },
      "AlarmListViewModel": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "Count of all alarms that are filtered. Is used by frontend to calculate \"table\" Take/Skip values",
            "format": "int32"
          },
          "totalActiveApplicationAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "totalActiveDeviceAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "totalActiveSystemAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "totalUnconfirmedApplicationAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "totalUnconfirmedDeviceAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "totalUnconfirmedSystemAlarms": {
            "type": "integer",
            "format": "int32"
          },
          "alarms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlarmViewModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlarmPutModel": {
        "required": [
          "alarmState"
        ],
        "type": "object",
        "properties": {
          "alarmState": {
            "minLength": 1,
            "type": "string"
          },
          "confirmingUserName": {
            "type": "string",
            "nullable": true
          },
          "confirmingDateTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "confirmingNote": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlarmSettingsPutPostModel": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "emailAddressesCommaSeparated": {
            "type": "string",
            "nullable": true
          },
          "measurementDefinitionId": {
            "type": "integer",
            "format": "int32"
          },
          "waterCalculationId": {
            "type": "integer",
            "description": "For Water Calculation it is needed to have a link to the Water Calculation that can be one from the past (not the actual one)",
            "format": "int32",
            "nullable": true
          },
          "valueUnitId": {
            "type": "integer",
            "description": "Unused for now.\r\nMight be needed to calculate the Value into/fromto the user specific unit.\r\nMaybe the UnitId from MeasurementDefinition can be taken",
            "format": "int32",
            "nullable": true
          },
          "sendAlarmOffMessage": {
            "type": "boolean",
            "description": "When an Alarm does not anymore fullfill the alarm condition than the user might want to be notified",
            "nullable": true
          },
          "repeatingAlarmMaxCount": {
            "type": "integer",
            "description": "Not used right now.",
            "format": "int32",
            "nullable": true
          },
          "repeatingAlarmResendTimeSpanInHours": {
            "type": "integer",
            "description": "Not used right now.",
            "format": "int32",
            "nullable": true
          },
          "levelAlarmIsHigher": {
            "type": "boolean",
            "description": "True (1) : In LevelAlarm, when the Alarm is triggered when the actual value is HIGHER than the \"LevelAlarmValue\"\r\nFalse(0) : In LevelAlarm, when the Alarm is triggered when the actual value is LOWER  than the \"LevelAlarmValue\"",
            "nullable": true
          },
          "levelAlarmValue": {
            "type": "number",
            "description": "Used by LevelAlarm (level value)",
            "format": "double",
            "nullable": true
          },
          "levelAlarmHysteresisValue": {
            "type": "number",
            "description": "Used by LevelAlarm: After triggering an alarm it might go into a state where multiple alarms are\r\ntriggered because the level swings back and forth just crossing the alarm level.\r\nThis value is a buffer to limit the alarm trigger.",
            "format": "double",
            "nullable": true
          },
          "deltaTimeAlarmTimeSpanInMinutes": {
            "type": "integer",
            "description": "In DeltaTimeAlarms, when the choosen \"Channel\"-difference during DeltaTimeAlarmTimeSpanInMinutes\r\nis bigger than the DeltaAlarmDifferenceValue",
            "format": "int32",
            "nullable": true
          },
          "deltaAlarmDifferenceValue": {
            "type": "number",
            "description": "Used by DeltaAlarm (difference value)",
            "format": "double",
            "nullable": true
          },
          "alternativeAlarmOnMailSubjectText": {
            "type": "string",
            "description": "Alternative Subject-Text to be used in a Alarm-ON-Mail\r\nmax 100 chars",
            "nullable": true
          },
          "alternativeAlarmOnMailBodyText": {
            "type": "string",
            "description": "Alternative Body-Text to be used in a Alarm-ON-Mail\r\nmax 2000 chars",
            "nullable": true
          },
          "alternativeAlarmOffMailSubjectText": {
            "type": "string",
            "description": "Alternative Subject-Text to be used in a Alarm-OFF-Mail\r\nmax 100 chars",
            "nullable": true
          },
          "alternativeAlarmOffMailBodyText": {
            "type": "string",
            "description": "Alternative Body-Text to be used in a Alarm-OFF-Mail\r\nmax 2000 chars",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlarmSettingsViewModel": {
        "type": "object",
        "properties": {
          "alarmSettingId": {
            "type": "integer",
            "format": "int32"
          },
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "emailAddressesCommaSeparated": {
            "type": "string",
            "nullable": true
          },
          "measurementDefinitionId": {
            "type": "integer",
            "format": "int32"
          },
          "waterCalculationId": {
            "type": "integer",
            "description": "For Water Calculation it is needed to have a link to the Water Calculation that can be one from the past (not the actual one)",
            "format": "int32",
            "nullable": true
          },
          "valueUnitId": {
            "type": "integer",
            "description": "Unused for now.\r\nMight be needed to calculate the Value into/fromto the user specific unit.\r\nMaybe the UnitId from MeasurementDefinition can be taken",
            "format": "int32",
            "nullable": true
          },
          "sendAlarmOffMessage": {
            "type": "boolean",
            "description": "When an Alarm does not anymore fulfill the alarm condition than the user might want to be notified",
            "nullable": true
          },
          "repeatingAlarmMaxCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "repeatingAlarmResendTimeSpanInHours": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "levelAlarmIsHigher": {
            "type": "boolean",
            "description": "True (1) : In LevelAlarm, when the Alarm is triggered when the actual value is HIGHER than the \"LevelAlarmValue\"\r\nFalse(0) : In LevelAlarm, when the Alarm is triggered when the actual value is LOWER  than the \"LevelAlarmValue\"",
            "nullable": true
          },
          "levelAlarmValue": {
            "type": "number",
            "description": "Used by LevelAlarm (level value)",
            "format": "double",
            "nullable": true
          },
          "levelAlarmHysteresisValue": {
            "type": "number",
            "description": "Used by LevelAlarm: After triggering an alarm it might go into a state where multiple alarms are\r\ntriggered because the level swings back and forth just crossing the alarm level.\r\nThis value is a buffer to limit the alarm trigger.",
            "format": "double",
            "nullable": true
          },
          "deltaTimeAlarmTimeSpanInMinutes": {
            "type": "integer",
            "description": "In DeltaTimeAlarms, when the choosen \"Channel\"-difference during DeltaTimeAlarmTimeSpanInMinutes\r\nis bigger than the DeltaAlarmDifferenceValue",
            "format": "int32",
            "nullable": true
          },
          "deltaAlarmDifferenceValue": {
            "type": "number",
            "description": "Used by DeltaAlarm (difference value)",
            "format": "double",
            "nullable": true
          },
          "isAlarmStateOn": {
            "type": "boolean",
            "description": "When true the alarm state of the device with this alarm setting is ON"
          },
          "alternativeAlarmOnMailSubjectText": {
            "type": "string",
            "description": "Alternative Subject-Text to be used in a Alarm-ON-Mail\r\nmax 100 chars",
            "nullable": true
          },
          "alternativeAlarmOnMailBodyText": {
            "type": "string",
            "description": "Alternative Body-Text to be used in a Alarm-ON-Mail\r\nmax 2000 chars",
            "nullable": true
          },
          "alternativeAlarmOffMailSubjectText": {
            "type": "string",
            "description": "Alternative Subject-Text to be used in a Alarm-OFF-Mail\r\nmax 100 chars",
            "nullable": true
          },
          "alternativeAlarmOffMailBodyText": {
            "type": "string",
            "description": "Alternative Body-Text to be used in a Alarm-OFF-Mail\r\nmax 2000 chars",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlarmUserAlertViewModel": {
        "type": "object",
        "properties": {
          "sendTime": {
            "type": "string",
            "format": "date-time"
          },
          "emailAddressesCommaSeparated": {
            "type": "string",
            "nullable": true
          },
          "smsNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlarmViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "deviceName": {
            "type": "string",
            "nullable": true
          },
          "alarmState": {
            "type": "string",
            "description": "Active (0) This alarm is active\r\nConfirmed (1) This alarm is active but has been manually confirmed (LevelON/LevelOFF alarms)\r\nAlarmOff  (2) This alarm has a state where it is not active anymore\r\nAlarmOffAndConfirmed (3) This alarm's alarm-value is OK again. It has been manually confirmed (LevelON/LevelOFF alarms) and automatically confirmed because the value is OK again (Device alarms)",
            "nullable": true
          },
          "alarmType": {
            "type": "string",
            "nullable": true
          },
          "alarmSource": {
            "type": "string",
            "nullable": true
          },
          "alarmCategory": {
            "type": "string",
            "nullable": true
          },
          "alarmValue": {
            "type": "number",
            "format": "double"
          },
          "alarmPeriod": {
            "type": "string",
            "nullable": true
          },
          "networkNode": {
            "type": "string",
            "nullable": true
          },
          "transferType": {
            "type": "string",
            "nullable": true
          },
          "firstAlarmTime": {
            "type": "string",
            "format": "date-time"
          },
          "alarmOffTime": {
            "type": "string",
            "format": "date-time"
          },
          "alarmOffValue": {
            "type": "number",
            "format": "double"
          },
          "alarmUserAlerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlarmUserAlertViewModel"
            },
            "nullable": true
          },
          "confirmingUserName": {
            "type": "string",
            "nullable": true
          },
          "confirmingTime": {
            "type": "string",
            "format": "date-time"
          },
          "confirmingNote": {
            "type": "string",
            "nullable": true
          },
          "alarmSettingsId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isAlarmSettingsActive": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BatteryValuesListViewModel": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "calculatedBatteryCapacityValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleMeasurementPair"
            },
            "nullable": true
          },
          "calculatedBatteryCapacityUnitId": {
            "type": "integer",
            "format": "int32"
          },
          "measuredBatteryVoltageValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimpleMeasurementPair"
            },
            "nullable": true
          },
          "measuredBatteryVoltageUnitId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CustomizedChannel": {
        "required": [
          "deviceId",
          "measurementDefinitionId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "measurementDefinitionId": {
            "type": "integer",
            "format": "int32"
          },
          "alternativeName": {
            "type": "string",
            "nullable": true
          },
          "colorCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomizedChannelPostModel": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "integer",
            "format": "int32"
          },
          "measurementDefinitionId": {
            "type": "integer",
            "format": "int32"
          },
          "alternativeName": {
            "type": "string",
            "nullable": true
          },
          "colorCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
[...]
