#!/bin/bash

install()
{
  pid=$(pidof hids)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	  return
  fi

  cd /usr/share/hids
  if [ $1 ];then
     /usr/bin/hids  -f $1 1>/dev/null 2>&1 &
  else
     /usr/bin/hids 1>/dev/null 2>&1  &
  fi

  ps aux | grep /usr/bin/hids| grep -v grep
}


start()
{
  pid=$(pidof hids)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	  return
  fi

  cd /usr/share/hids
  if [ $1 ];then
     /usr/bin/hids -f $1 1>/dev/null 2>&1 &
  else
     /usr/bin/hids  1>/dev/null 2>&1  &
  fi

  ps aux | grep /usr/bin/hids| grep -v grep
}


stop()
{
  	pid=$(pidof hids)
	if [[ -n "${pid}" ]]; then
 		kill -9 $pid
 		sleep 3
	fi

}


case $1 in
    start):
    start $2
    ;;
    install):
    install $2
    ;;
    restart):
    stop
    start $2
    ;;
    stop):
    stop 
    ;;
    status):
      ps aux | grep /usr/bin/hids | grep -v grep  
    ;;
esac

exit 0


