#!/bin/bash

install()
{
  pid=$(pidof logagent)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	  return
  fi

  cd /usr/share/logagent
  if [ $1 ];then
     /usr/bin/logagent  -f $1 1>/dev/null 2>&1 &
  else
     /usr/bin/logagent 1>/dev/null 2>&1  &
  fi

  ps aux | grep /usr/bin/logagent| grep -v grep
}


start()
{
  pid=$(pidof logagent)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	  return
  fi

  cd /usr/share/logagent
  if [ $1 ];then
     /usr/bin/logagent -f $1 1>/dev/null 2>&1 &
  else
     /usr/bin/logagent  1>/dev/null 2>&1  &
  fi

  ps aux | grep /usr/bin/logagent| grep -v grep
}


stop()
{
  	pid=$(pidof logagent)
	if [[ -n "${pid}" ]]; then
 		kill -9 $pid
 		sleep 3
	fi

}


case $1 in
    start):
    start $2
    ;;
    install):
    install $2
    ;;
    restart):
    stop
    start $2
    ;;
    stop):
    stop 
    ;;
    status):
      ps aux | grep /usr/bin/logagent | grep -v grep
    ;;
esac

exit 0


