#!/bin/bash

install()
{
  pid=$(pidof palm)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	return
  fi

  cd /usr/share/palm
  if [ $1 ];then
     /usr/bin/palm --auto-migrate  -f $1  1>/dev/null 2>&1  &
  else
     /usr/bin/palm --auto-migrate  1>/dev/null 2>&1 &
  fi

  ps aux | grep /usr/bin/palm| grep -v grep
}

start()
{
  pid=$(pidof palm)
  if [[ -n "${pid}" ]]; then
	  echo " exist "
	return
  fi

  cd /usr/share/palm
  if [ $1 ];then
     /usr/bin/palm -f $1  1>/dev/null 2>&1  &
  else
     /usr/bin/palm  1>/dev/null 2>&1 &
  fi

  ps aux | grep /usr/bin/palm| grep -v grep
}


stop()
{
  	pid=$(pidof palm)
	if [[ -n "${pid}" ]]; then
 		kill -9 $pid
 		sleep 3
	fi

}


case $1 in
    start):
    start $2
    ;;
    install):
    install $2
    ;;
    restart):
    stop
    start $2
    ;;
    stop):
    stop 
    ;;
    status):
      ps aux | grep /usr/bin/palm | grep -v grep  
    ;;
esac

exit 0


