name: Auto-Build-SyntaxFlow-Web-Server

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
    paths:
      - "common/sfweb/**"
      - ".github/workflows/auto-build-sfweb.yml"
      - ".github/workflows/reuse-build-sfweb.yml"

jobs:
  build:
    uses: ./.github/workflows/reuse-build-sfweb.yml
    with:
      os: linux-amd64
      update: true
    secrets: inherit