name: Diff-Code-Check
on:
  workflow_run:
    workflows: [ "Essential Tests" ]
    types:
      - completed
jobs:
  setup:
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Cache YakLang Project
        uses: actions/cache@v3
        id: cache-project
        with:
          path: |
            ~/yakit-projects
            ${{ github.workspace }}
          key: go-${{ github.event.workflow_run.head_sha }}

      - name: Check out code into the Go module directory
        if: steps.cache-project.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - name: Fetch Main And Reset Main
        run: |
          git fetch --all
          git checkout main
          git reset --hard origin/main
          git checkout ${{ github.event.workflow_run.head_sha }}
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version-file: "./go.mod"
        id: go

      - name: Dependence
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libpcap-dev
          version: 1.9.1-3
      #      - name: Download From oos
      #        run: |
      #          wget https://aliyun-oss.yaklang.com/yak/latest/yak_linux_amd64
      #          chmod +x ./yak_linux_amd64
      - name: Init Module
        run: |
          go mod tidy
          go build ./common/yak/cmd/yak.go
      - name: Generate Prog And Check With SyntaxFlow
        run: |
          pwd && ls -al
          ./yak -h
          MERGE_BASE=$(git merge-base main ${{ github.event.workflow_run.head_sha }})
          echo "Merge base is: $MERGE_BASE"
          ./yak gitefs --start $MERGE_BASE --end ${{ github.event.workflow_run.head_sha }} --output ./fs.zip
          ./yak check --language go --file ./fs.zip --rules ./common/ssa_bootstrapping/ci_rule --exclude-file *.pb.go > log.txt 2>&1 || exit 1

      - name: Upload fail log
        uses: actions/upload-artifact@v4
        with:
          name: log.txt
          path: log.txt