name: Essential Tests

on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'common/**'
      - '.github/workflows/essential-tests.yml'

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - name: Test Start
            run: go test -timeout 1m ./common/jsonextractor -v

          - name: Test Codec
            run: go test -timeout 1m ./common/yak/yaklib/codec -v

          - name: Tesy CartesianProduct
            run: go test -timeout 1m ./common/yak/cartesian -v

          - name: Test JsonPath
            run: go test -timeout 1m ./common/jsonpath -v

          - name: Test DomainExtract
            run: go test -timeout 1m ./common/domainextractor -v

          - name: Test lowhttp
            run: go test -timeout 1m ./common/utils/lowhttp -v

          - name: Test HttpTpl(YakTemplate)
            run: go test -timeout 1m ./common/yak/httptpl -v

          - name: Test Fuzz/Mutate
            run: go test -timeout 1m ./common/mutate_tests ./common/fuzztag -v

          - name: Test MustPass - full yak scripts
            run: go test -timeout 1m ./common/yak/yaktest/mustpass -v

          - name: Test PeekableConn
            run: go test -timeout 1m -run TestPeekableConn ./common/utils -v

          - name: Test gRPC MUSTPASS
            run: go test -timeout 10m -run TestGRPCMUSTPASS ./common/yakgrpc -v

          - name: Test gRPC MUSTPASS-PLUGIN-SQL
            run: go test -timeout 4m -run TestGRPCMUSTPASS_SQL ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-MITM
            run: go test -timeout 2m -run TestGRPCMUSTPASS_MITM ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-SSTI
            run: go test -timeout 1m -run TestGRPCMUSTPASS_SSTI ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-XSS
            run: go test -timeout 2m -run TestGRPCMUSTPASS_XSS ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-Shiro
            run: go test -timeout 1m -run TestGRPCMUSTPASS_Shiro ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-CSRF
            run: go test -timeout 1m -run TestGRPCMUSTPASS_CSRF ./common/coreplugin -v

          - name: Test gRPC MUSTPASS-PLUGIN-Fastjson
            run: go test -timeout 3m -run TestGRPCMUSTPASS_Fastjson ./common/coreplugin -v

          - name: Test gRPC TestGRPCMUSTPASS_OPEN_REDIRECT
            run: go test -timeout 1m -run TestGRPCMUSTPASS_OPEN_REDIRECT ./common/coreplugin -v

          - name: Test CVEQuery
            run: go test -timeout 1m -run TestQueryCVEWithFixName ./common/cve -v

          - name: Test Sca
            run: go test -timeout 1m ./common/sca/... -v

          - name: Test HostPort  AppendPort
            run: go test -timeout 1m -run TestMUSTPASS ./common/utils -v

          - name: Test Vulinbox agent client
            run: go test -timeout 1m ./common/vulinboxagentclient -v

          - name: Test YakDNS(DoH / TCP / UDP)
            run: go test -timeout 20s ./common/netx/mustpass -v

          - name: Test Suricata Match
            run: go test -timeout 20s -run TestMUSTPASS* ./common/suricata -v

          - name: Test Ping
            run: go test -timeout 20s -run TestPingAutoConfig ./common/utils/pingutil -v

          - name: crawlerx (chromium based crawler)
            run: go test -v --timeout 5m ./common/crawlerx

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version-file: './go.mod'
        id: go

      - name: Dependence
        run: |
          sudo apt-get update
          sudo apt-get install libpcap-dev=1.9.1-3

      - name: Init
        run: |
          go mod tidy && go run common/yak/cmd/yak.go --help

      - name: ${{ matrix.name }}
        run: |
          ${{ matrix.run }}