name: ManualBuild

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          - windows7
          - windows
          - macos-amd64 
          - macos-arm64
          - linux-amd64
          - linux-arm64
    uses: ./.github/workflows/reuse-build.yml
    with:
      os: ${{ matrix.os }}
      ee: false
    secrets: inherit 
