name: ManualBuildWithTarget
on:
  workflow_dispatch:
    inputs:
      os:
        description: "System to build"
        required: true
        type: choice
        options:
          - windows7
          - windows
          - macos-amd64 
          - macos-arm64
          - linux-amd64
          - linux-arm64

jobs:
  build:
    uses: ./.github/workflows/reuse-build.yml
    with:
      os: ${{ inputs.os }}
      ee: false
    secrets: inherit
