name: ManualBuild

on:
  workflow_dispatch:
    inputs:
      sign:
        type: boolean
        description: whether to sign windows executable (windows/windows7 only)
        default: true

jobs:
  build:
    strategy:
      matrix:
        os:
          - windows
          - windows7
          - darwin-amd64
          - darwin-arm64
          - linux-amd64
          - linux-arm64
    uses: ./.github/workflows/reuse-build.yml
    with:
      os: ${{ matrix.os }}
      ee: false
      sign: ${{ inputs.sign && contains(matrix.os, 'windows') }}
    secrets: inherit 
