name: Reuse-Build-Yak

on:
  workflow_dispatch:
    inputs:
      os:
        description: "System to build"
        required: true
        type: choice
        options:
          - windows
          - windows7
          - darwin-amd64 
          - darwin-arm64
          - linux-amd64
          - linux-arm64
      ee:
        type: boolean
        description: whether to build ee version
        default: false
  
  workflow_call:
    inputs:
      os:
        description: "System to build"
        required: true
        type: string
      ee:
        type: boolean
        description: whether to build ee version
        default: false 

jobs:
  build_and_upload_asset:
    runs-on: ${{ contains(inputs.os, 'windows') && 'windows-latest' || 'macos-14' }}
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
        id: go

      - name: Go Patch for Win7
        if: inputs.os == 'windows7'
        run: |
          cd $(go env GOROOT)
          Get-Content "${{ github.workspace }}\.github\patch_go122\693def151adff1af707d82d28f55dba81ceb08e1.diff" | patch --verbose -R -p 1 
          Get-Content "${{ github.workspace }}\.github\patch_go122\7c1157f9544922e96945196b47b95664b1e39108.diff" | patch --verbose -R -p 1
          Get-Content "${{ github.workspace }}\.github\patch_go122\48042aa09c2f878c4faa576948b07fe625c4707a.diff" | patch --verbose -R -p 1
          cd ${{ github.workspace }}

      - name: Get Repo tags
        run: |
          go run common/yak/cmd/yak.go repos-tag -o tags.txt
          echo "YAK_TAG=$(cat tags.txt)" >> ${{ contains(inputs.os, 'windows') && '$env:GITHUB_ENV' || '$GITHUB_ENV' }} 

      - name: Download CrossBuild GCC(Linux x64 / MacOS x64)
        if: inputs.os == 'linux-amd64' || inputs.os == 'darwin-amd64'
        run: |
          brew tap messense/macos-cross-toolchains
          brew install x86_64-unknown-linux-gnu
          x86_64-linux-gnu-gcc -v

      - name: Download CrossBuild GCC(Linux arm64)
        if: inputs.os == 'linux-arm64' 
        run: |
          brew tap messense/macos-cross-toolchains
          brew install aarch64-unknown-linux-gnu
          aarch64-linux-gnu-gcc -v

      - name: Generate Document
        run: go run -gcflags=all="-N -l" common/yak/yakdoc/generate_doc/generate_doc.go common/yak/yakdoc/doc/doc.gob.gzip

      - name: Codec Methods Document
        run: go run -gcflags=all="-N -l" common/yak/yaklib/codec/codegrpc/doc/codec_doc.go common/yak/yaklib/codec/codegrpc/codec.gob.gzip

      - name: Sync Embed FS Hash to Code
        run: go run common/yak/cmd/yak.go embed-fs-hash --override --all

      - name: Initialize License Machine
        if: inputs.ee
        run: go run common/xlic/cmd/initializer.go --ak ${{ secrets.OSS_KEY_ID }} --sk ${{ secrets.OSS_KEY_SECRET }}

      - name: Build for Windows
        if: contains(inputs.os, 'windows')
        run: |
          $env:GOOS = "windows"
          $env:GOARCH = "amd64"
          $outputName = if ("${{ inputs.os }}" -eq "windows7") { "yak_windows_legacy_amd64.exe" } else { "yak_windows_amd64.exe" }
          go build -ldflags "-s -w -X 'main.goVersion=$(go version)' -X 'main.gitHash=$(git show -s --format=%H)' -X 'main.buildTime=$(git show -s --format=%cd)' -X 'main.yakVersion=${{ env.YAK_TAG }}'" -o $outputName -v common/yak/cmd/yak.go
          echo "OUTPUT_NAME=$outputName" >> $env:GITHUB_ENV

      - name: Build for Non-Windows
        if: ${{ !contains(inputs.os, 'windows') }}
        run: |
          export GOOS=$(echo ${{ inputs.os }} | cut -d'-' -f1)
          export GOARCH=$(echo ${{ inputs.os }} | cut -d'-' -f2)
          export OUTPUT_NAME="yak_${GOOS}_${GOARCH}"
          export CGO_ENABLED=1
          if [ "${{ inputs.os }}" = "linux-amd64" ]; then
            export CC=x86_64-linux-gnu-gcc
          elif [ "${{ inputs.os }}" = "linux-arm64" ]; then
            export CC=aarch64-linux-gnu-gcc
          fi

          go build -ldflags "-s -w -X 'main.goVersion=$(go version)' -X 'main.gitHash=$(git show -s --format=%H)' -X 'main.buildTime=$(git show -s --format=%cd)' -X 'main.yakVersion=${{ env.YAK_TAG }}'" -o $OUTPUT_NAME -v common/yak/cmd/yak.go && ls

          echo "OUTPUT_NAME=$OUTPUT_NAME" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.OUTPUT_NAME }}
          path: ./${{ env.OUTPUT_NAME }}