name: Update Syntaxflow meta

on:
  workflow_call:
    inputs:
      update_version:
        description: "Version to update (e.g. 1.3.0-beta1)"
        required: true
        type: string
      update_last:
        description: "Update last syntaxflow meta or not"
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      update_version:
        description: "Version to update (e.g. 1.3.0-beta1)"
        type: string
        required: true
      update_last:
        description: "Update last syntaxflow meta or not"
        type: boolean
        default: false
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
    paths:
      - ".github/workflows/update-syntaxflow-meta.yml"
jobs:
  update-syntaxflow-meta:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Get Yak binary Latest
        run: |
          BIN_VERSION="${{ inputs.update_version}}"
          if [ -z "$BIN_VERSION" ]; then
            BIN_VERSION="latest"
          fi 
          wget https://aliyun-oss.yaklang.com/yak/$BIN_VERSION/yak_linux_amd64
          pwd && ls -lh && chmod +x ./yak_linux_amd64
          ./yak_linux_amd64 version

      - name: Get Repo tags
        run: |
          VERSION_INPUT="${{ inputs.update_version}}"
          if [ -z "$VERSION_INPUT" ]; then
            VERSION_INPUT="dev"
          fi 
          echo "YAK_TAG=$VERSION_INPUT" >> $GITHUB_ENV 

      - name: Checkout Tags Version
        run: echo ${{ env.YAK_TAG }}

      - name: Initialize Builtin SyntaxFlow Rules
        run: |
          echo "::group::Initialize Builtin SyntaxFlow Rules"
          echo "Syncing embedded rules to database..."
          ./yak_linux_amd64 sync-rule
          echo "Builtin rules initialized successfully"
          echo "::endgroup::"
          
      - name: Generate SyntaxFlow Meta Info
        run: |
          echo "::group::Generate SyntaxFlow Meta Info"
          
          echo "Current working directory: $(pwd)"
          echo "YAK_TAG version: ${{ env.YAK_TAG }}"


          echo "Downloading latest syntaxflow rule info..."
          wget -O syntaxflow-meta.json https://aliyun-oss.yaklang.com/yak/latest/syntaxflow-meta.json
          if [ $? -ne 0 ]; then
            echo "::error::Failed to download syntaxflow meta info, empty file will create it "
          fi
          
          if [ -f "scripts/summary-syntaxflow-meta.yak" ]; then
            echo "Using local syntaxflow meta info generator"
            cp scripts/summary-syntaxflow-meta.yak summary-syntaxflow-meta.yak
          else
            echo "Downloading syntaxflow meta info generator..."
            wget -O summary-syntaxflow-meta.yak https://aliyun-oss.yaklang.com/syntaxflow/summary-syntaxflow-meta.yak
            if [ $? -ne 0 ]; then
              echo "::error::Failed to download syntaxflow meta info generator"
              exit 1
            fi
          fi

          echo "Checking downloaded file..."
          ls -l  | grep syntaxflow
          
          echo "Generating meta info with yak script..."
          ./yak_linux_amd64 ./scripts/summary-syntaxflow-meta.yak \
            --output syntaxflow-meta.json \
            --version ${{ env.YAK_TAG }} \
            --custom-ai \
            --ai-type chatglm \
            --apikey ${{ secrets.CHATGLM_APIKEY }} \
            --ai-model glm-4-long \
            --concurrent 5 
          
          echo "Checking generated files..."
          ls -l | grep syntaxflow
          
          echo "Uploading to versioned OSS path..."
          ./yak_linux_amd64 upload-oss \
           -f "syntaxflow-meta.json:/yak/${{ env.YAK_TAG }}/syntaxflow-meta.json" \
           -ak ${{ secrets.OSS_KEY_ID }} \
           -sk ${{ secrets.OSS_KEY_SECRET }} \
           -t 5
          if [ $? -ne 0 ]; then
           echo "::warning::Failed to upload versioned meta info"
          fi
          
          if [ ${{ inputs.update_last }} == true ]; then
              echo "Uploading to latest OSS path..."
              ./yak_linux_amd64 upload-oss \
               -f "syntaxflow-meta.json:/yak/latest/syntaxflow-meta.json" \
               -ak ${{ secrets.OSS_KEY_ID }} \
               -sk ${{ secrets.OSS_KEY_SECRET }} \
               -t 5
              if [ $? -ne 0 ]; then
               echo "::warning::Failed to upload latest meta info"
              fi
          fi
          
          echo "::endgroup::"
        continue-on-error: true
      
      - name: Upload meta json 
        uses: actions/upload-artifact@v4
        with:
          name: grpc.log
          path: ${{github.workspace}}/syntaxflow-meta.json