name: updateCve

on:
  workflow_dispatch:
  push:
    branches:
      - "cve/*"
  schedule:
    # 定时任务，在每周一0点更新
    - cron: '0 0 * * 1'

jobs:

  test:
    name: Load CVE Database
    runs-on: ubuntu-22.04

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version-file: "./go.mod"
          cache: false
        id: go

      - name: Cache Go modules
        uses: actions/cache@v3
        id: cache-go-modules
        with:
          path: ~/go/pkg/mod
          key: go-modules-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            go-modules-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

      - name: Init Module
        run: |
          go mod tidy

      - name: Build yak 
        run: |
          go build -o ./yak ./common/yak/cmd/yak.go
          chmod +x ./yak

      - name: LoadCVE-Description
        run: mkdir -p ~/yakit-projects && wget -O ~/yakit-projects/default-cve-description.db.gzip https://cve-db.oss-cn-beijing.aliyuncs.com/default-cve-description.db.gzip

      - name: Check file size(Pre Checking!)
        run: |
          FILE_PATH=~/yakit-projects/default-cve-description.db.gzip
          FILE_SIZE=$(stat -c%s "$FILE_PATH")
          echo "File size: $FILE_SIZE bytes"

          SIZE_LIMIT=$((10 * 1024 * 1024)) # 10MB size limit
          if [ $FILE_SIZE -lt $SIZE_LIMIT ]; then
            echo "File size is less than 10MB. Aborting GitHub Actions."
            exit 1
          fi

      - name: Loadcve
        run: ./yak build-cve-database --no-gzip && ./yak build-cve-database --cwe # go test -timeout 30m common/cve/cve_update_test.go

      - name: Setup Ossutil
        uses: manyuanrong/setup-ossutil@v3.0
        with:
          endpoint: "oss-cn-beijing.aliyuncs.com"
          # 使用我们之前配置在secrets里面的accesskeys来配置ossutil
          access-key-id: ${{ secrets.OSS_KEY_ID }}
          access-key-secret: ${{ secrets.OSS_KEY_SECRET }}

      - name: Check file size
        run: |
          FILE_PATH=~/yakit-projects/default-cve.db.gzip
          FILE_SIZE=$(stat -c%s "$FILE_PATH")
          echo "File size: $FILE_SIZE bytes"
          
          SIZE_LIMIT=$((10 * 1024 * 1024)) # 10MB size limit
          if [ $FILE_SIZE -lt $SIZE_LIMIT ]; then
            echo "File size is less than 10MB. Aborting GitHub Actions."
            exit 1
          fi

      - name: Deply To OSS
        run: ossutil cp ~/yakit-projects/default-cve.db.gzip oss://cve-db/ -rf