name: Auto Update YSO Resources

on:
  workflow_dispatch:
  # pull_request:
  #   branches: [ main ]
  #   types: [ opened, synchronize, reopened ]
  #   paths:
  #     - 'common/yso/resources/java_source/**'
  #     - 'common/yso/resources/scripts/**'
      
jobs:
  build-yso-resources:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
          
      - name: Check last commit message is bot message
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          
          COMMIT_MESSAGE=$(git log -1 --pretty=format:%s)
          echo "Commit Message: $COMMIT_MESSAGE"
          
          if [[ "$COMMIT_MESSAGE" == *"[bot commit]"* ]]; then
            echo "Commit from bot detected. Stopping CI."
            echo "SKIP_CI=true" >> $GITHUB_ENV
          else
            echo "Commit from human. Continuing workflow."
          fi
          
      - name: Set up Go
        if: ${{ env.SKIP_CI != 'true' }}
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          
      - name: Set up Java 8
        if: ${{ env.SKIP_CI != 'true' }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '8'
          
      - name: Try Auto Merge
        if: ${{ env.SKIP_CI != 'true' }}
        run: |
          git fetch origin main
          git rebase origin/main || true
          CONFLICTS=$(git diff --name-only --diff-filter=U)
          if [[ -n "$CONFLICTS" ]]; then
            echo "Conflicts detected. Stopping CI."
            exit 1
          else
            echo "No conflicts. Continuing workflow."
          fi
          
      - name: Build YSO resources
        if: ${{ env.SKIP_CI != 'true' }}
        run: |
          echo "JAVA_HOME: $JAVA_HOME"
          java -version
          chmod +x common/yso/resources/scripts/*.sh
          common/yso/resources/scripts/build_all.sh --java8 "$JAVA_HOME"
          
      - name: Commit changes
        if: ${{ success() && env.SKIP_CI != 'true' }}
        run: |
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "chore: auto-update yso resources [bot commit]"
          git push --force origin ${{ github.event.pull_request.head.ref }}

