name: Yak Plugin Testcases

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'common/**'
jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Dependence
        run: |
          sudo apt-get update
          sudo apt-get install libpcap-dev=1.9.1-3
          go mod tidy
          go mod vendor

      - name: Test Yak Plugin
        run: go test -timeout 5m yaklang/common/vulinbox -v
